/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";






body {
   
    background: blue;
    overflow-x: hidden;
    width: 1366px;
}














.c {

    position: relative;
    left: 600px;
    top:100px;
}

h1 {
    text-align: center;

}

h2 {
    text-align: center;
    position: relative;
    top:100px;
}

.form_group {

    width: 300px;
}

.form-control {

    width: 200px;

}

.btn-primary {

width: 200px;

}

.log {

    position: relative;
    bottom: 350px;
    left: 900px;
}

body {

    background-color: gray;
}

.foo {
    width: 200px;
    margin: 0 auto;
    position: absolute;
    left: 485px;

  
}

#pgroup {
position: relative;
top: 150px;
    
}



#text_area {

    width: 400px;
    height: 100px;
}

#but { 

    width: 400px;
    background-color: green;
}

#flist {

    // position: relative;
    // right: 500px;
}
#userpost {

    // position: relative;
    // top: 200px;
    // text-align: center;
}
.iposts {

// margin-top: 100px;
}

#phead {

    // position: absolute;
    // left: 625px;
    // bottom: 300px;
}
.list-group-item {

    width: 400px;
    // text-align: center;
    // position: relative;
    // right: 100px;

}
.list-group {

    // text-align: center;
    // position: relative;
    // left: 575px;
}

#commentheader {

    background-color: brown;
    color: white;
}

#postheader {

    background-color: orange;
    color: white;
    margin-top: 50px;
}

.follow {

    // position: relative;
    // bottom: 300px;
}

.editform {
    position: relative;
    top: 120px;
    width: 200px;
    margin: 0 auto
}

#e {

    color: blue;
}

#p {
    color: blue;
}

.followpress{
    position: absolute;
   
    
}

#np {

  
}


.lf {
    font-size: 60px;
    color: black;


}

#ed {
    text-align: center;
    margin: 0 auto
}